// Here you can add other styles
.sidebar .nav-title {
  padding: 0.75rem 1rem;
  font-size: 80%;
  font-weight: 700;
  color: #323232;
  text-transform: uppercase;
}

.sidebar .nav-link {
  display: block;
  padding: 0.75rem 1rem;
  color: #000000;
  text-decoration: none;
  background: transparent;
}

.sidebar .nav-dropdown.open .nav-link {
  color: #000000;
  border-left: 0;
}

.badge-info {
  color: #23282c;
  background-color: #b8dead;
}

.sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  color: #d8c2a5;
  background: #d8c2a5;
}

.sidebar .sidebar-close {
  position: absolute;
  right: 0;
  display: none;
  padding: 0 1rem;
  font-size: 25px;
  font-weight: 800;
  line-height: 55px;
  color: #323232;
  background: 0;
  border: 0;
  opacity: .8;
}

.sidebar .sidebar-close:hover {
  opacity: 1;
}

.sidebar .sidebar-header {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0.75rem 1rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-form .form-control {
  color: #323232;
  background: #d8c2a5;
  border: 0;
}

.sidebar .nav-link.active {
  color: #000000;
  background: #d8cbc1;
}

.sidebar .nav-link:hover {
  color: #fff;
  background: #d8b975;
}

.sidebar .nav-link.active .nav-icon {
  color: #187a29;
}

.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
  background: #d8b975;
}

.d-md-down-none {
  text-align: left;
  justify-content: left;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

 .sidebar-minimized .sidebar .sidebar-minimizer {
   position: fixed;
   bottom: 0;
   width: 50px;
   height: 50px;
   background-color: #d8cbc1;
 }

.btn-primary {
  color: #fff;
  background-color: #d8cbc1;
  border-color: #d8cbc1
}

.btn-primary:hover {
  color: #fff;
  background-color: #d8b975;
  border-color: #d8b975
}

primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #d8cbc1;
  border-color: #d8cbc1;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(216, 203, 193, 0.5)
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #d8b975;
  border-color: #d8b975
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #d8cbc1;
  border-color: #d8cbc1
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(216, 185, 117, 0.5)
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #d8cbc1;
  border-color: #d8cbc1
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(216, 185, 117, 0.5)
}

.flex-item{
  display: inline-block;
  flex-grow: 1;
}

.flex-logo{
  position: absolute;
  top: 18%;
  height: 8%;
  width: 11%;
  left: 25%;
 }

.div {
  position: absolute;
  height: 200px;
  width: 400px;
  top: 38%;
  right: 50%;
  margin-right: 50px;
}

.divCreateGrid {
   position: absolute;
   height: 200px;
   width: 400px;
   top: 22%;
   right: 18%;
   margin-right: 50px;
 }

.second_div {
   position: absolute;
   top: 20%;
   left: 50%;
 }

.first {
  width: 800px;
  float: left;
  height: 200px;
}

.second {
  width: 10px;
  float: left;
  height: 10px;
}

.card-accent-warning {
  border-top-color: #ebdcb3;
  border-top-width: 2px
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #d8b975;
  border-color: #d8b975;
}

.badge-success {
  color: #fff6f9;
  background-color: #649671;
}

.badge-danger {
  color: #fff9f8;
  background-color: #cd817f;
}
